<h1>Welcome to UZ Currency Exchange</h1>

<%= link_to "Current Rates", controller: "currencies" %>
|
<%= link_to "Branches", controller: "branches" %>
|
<%= link_to "Stock Position", controller: "stocks" %>