<p>
  <strong>Currency Name:</strong>
  <%= @transaction.currency.currencycode %>
</p>
<p>
  <strong>Branch Name:</strong>
  <%= @transaction.branch.name %>
</p>

<p>
  <strong>Total Amount:</strong>
  <%= @transaction.totalamt %>
</p>
<p>
  <strong>Transaction Type:</strong>
  <%= @transaction.trantype %>
</p>

