			<ul>
				
				<li>
					<a href="\currencies">Admin</a>
					<ul>
						<li>
							<a href="\transactions">Transactions</a>
						</li>
					
					
						<li>
							<a href="\branches">Branches</a>
						</li>
					
						
						<li>
							<a href="\users">Users</a>
						</li>
					</ul>
				</li>
				
				<li >
					<a href="\currencies">Rates</a>
				</li>

				<li>
					<a href="\tran\buy">Buy</a>
				</li>

				<li>
					<a href="\tran\sell">Sell</a>
				</li>
			
				<li>
					<a href="\stocks">Stock</a>
					<ul>
						<li>
							<a href="\tran\stockin">Stock In</a>
						</li>
					</ul>
				</li>
				<li>
					<%= link_to "Sign out", signout_path, method: "delete" %>
				</li>
			</ul>
